* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  margin: 10px;
  place-items: center;
}

span.link {
  color: rgb(0, 132, 255);
  text-decoration: underline;
}
